#Page_Title
{
    color: green;
    background: orange;
    font-family: Helvetica, "Time New Roman", sans-serif;
}

a:link
{
    text-decoration: none;
}

a:hover
{
    background-color: gainsboro;
}

*{
    border: .5px solid red;
}